<html lang="en" ng-app="graphunin">
  <head>
    <title>Graphunin</title>
    <meta charset="utf-8">
    <meta Http-Equiv="Cache-Control" Content="no-cache">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="graphunin-style.css">
  </head>
  <body>
    <div class="graph pure-g" ng-controller="searchCtrl">
      <!-- side bar -->
      <div class="graph-side pure-u-1-5">
        <!-- top level menu -->
        <div class="graph-side-menu">
          <div class="graph-side-menu pure-menu">
            <ul class="graph-side-menu pure-menu-list">
              <li class="pure-menu-item pure-menu-has-children">
                <a class="pure-menu-link">Servers</a>
                <!-- sub menu lvl 1 -->
                <ul class="pure-menu-children">
                  <li class="pure-menu-item">
                    <a class="pure-menu-link" ng-click="getNodes('nonProduction')">Non-production</a>
                  </li>
                  <li class="pure-menu-item">
                    <a class="pure-menu-link" ng-click="getNodes('production')">Production</a>
                  </li>
                </ul>
              </li>
              <!-- end sub menu lvl 1 -->
              <li class="pure-menu-item">
                <a class="pure-menu-link">Controls</a>
              </li>
              <li class="pure-menu-item">
                <a class="pure-menu-link">Filters</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- end top level menu -->
      </div>
      <!-- end side bar -->
      <!-- search display -->
      <div class="graph-main pure-u-4-5">
        <div class="graph-main-title">
          <h1><a href="/">Graphunin</a></h1>
        </div>
        <div class="graph-search">
          <form class="pure-form pure-form-aligned">
            <fieldset>
              <div class="pure-control-group">
                <input id="search" class="pure-input-4-5" type="text" placeholder="search for a node" ng-model="nodeQuery"></input>
              </div>
            </fieldset>
          </form>
          <div class="graph-search-results" ng-show="nodeQuery">
            <h3 ng-repeat="node in nodes | filter:nodeQuery"><a ng-href="http://dash.iovationnp.com/graphunin/graphunin.html?server={{ node }}">{{ node }}</a></h3>
          </div>
          <!-- node detail display -->
          <div class="graph-detail" ng-controller="graphNodeDetailCtrl">
            <h1>this is the test</h1>
          </div>
          <!-- end node detail display -->
        </div>
      </div>
      <!-- end search display -->
    </div>

  <!-- load YUI ddm -->
  <script src="yui-ddm.js"></script>
    <!-- load core Angularjs -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <!-- load Angular modules -->
  <script src="https://code.angularjs.org/1.3.14/angular-route.min.js"></script>
  <script src="angular-resource-1.3.15.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
    <!-- load JQuery (maybe?) -->
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  </body>
</html>
