/* global styles */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    /* color: rgb(61, 146, 201); */
}

h3 {
  font-weight: 100;
}

.pure-form input[type="text"] {
  border-radius: 0px;
  display: block;
}

/* graph-side menu area */

.graph-side {
  background-color: rgb(61, 79, 93);
  height: 100%;
  font-size: 18px;
}

.graph-side-menu {
  width: 100%;
  height: 37px;
}

  .graph-side-menu a {
    text-align: left;
    padding-left: 3em;
  }

    .graph-side-menu .pure-menu-list {
      margin-top: 8em;
    }

  .pure-menu-children {
    margin-top: 0;
  }

/* graph-main-title main title area */

.graph-main-title h1 {
  text-align: center;
  font: 100 5.0em/0.75 "Helvetica Neue", "Open Sans", sans-serif;
  color: rgb(174, 174, 174);
}

/* graph-search search area */

.graph-search {
  display: block;
}

  .graph-search form {
    width: 50%;
    margin: 0 auto;
  }

  .pure-control-group input {
    width: 350px;
    margin: 0 auto;
  }

  fieldset div .pure-control-group {
    margin: 0 auto;
  }

/* centering search placeholder */

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

/* graph-search-results search display area */

.graph-search-results {
  background-color: rgb(174, 174, 174);
  margin-left: 1em;
  margin-right: 1em;
  padding: .2em 0 .2em 1em;
  border-radius: 0px;
  overflow: auto;
  max-height: 750px;
}

  .graph-search-results a {
    color: rgb(0, 0, 0);
  }

  .graph-search-results h3:hover {
    /* need some kind of feedback here */
    text-decoration: underline;
  }
